*, *::before, *::after {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  scroll-behavior: auto !important;
}
#drupal-live-announce {
  display: none !important;
}
#cookiebanner, #usercentrics-root, #CybotCookiebotDialog, #klaro, .cc-window, .cc-compliance {
  display: none !important;
}
